<div style="min-height: 400vh;">
  <div class="row">
    <div class="about"></div>
    <h1 class="about-text">
      <strong>
        オススメを教えよう、知ろう。<br>
        PlanneRでは新しいことが、たくさん体験できます。
      </strong><br><br>

    </h1>
  </div>

  <div class="container">
    <div class="about_img"></div>
    <div class="text-center">
      <h4>PlanneRでは、自分の経験や知識を、<br><br>
        体験したい人、学びたい人に提供します<br><br>
        収益化も測れるので、自分のワークスタイルも自ら、設計できます。</h4>
    </div>
    <div class="card-columns">
      <div class="card">
        <div class="card-icon"><i class="fas fa-route fa-5x"></i></div>
        <div class="card-body">
          <h4>- 案内 -</h4>
          <p>
            地元の穴場スポットをはじめて訪れた人に紹介できます。
            あなたのオススメを世界に広めて、地域の復興に繋げよう。
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-icon"><i class="fas fa-chalkboard-teacher fa-5x"></i></div>
        <div class="card-body">
          <h4>- スキルを教える -</h4>
          <p>
            あなたの得意な分野のスキルを教えよう。
            数学、物理、野鳥の観察。教えれることは自由自在です。
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-icon"><i class="fas fa-futbol fa-5x"></i></div>
        <div class="card-body">
          <h4>- 未来のアスリートへ -</h4>
          <p>
            マンツーマンのレッスンを簡単に受注できます。
            パーソナルトレーニングを積み上げ、
            ライバルと差をつけましょう。
          </p>
        </div>
      </div>
    </div>
    <div class="text-center">
      <%= link_to  "プランを見てみる", items_path, class:'btn btn-light btn-lg', style:'margin-bottom: 20px;' %> <br>
      <%= link_to  "新規会員登録する", new_user_registration_path, class:'btn btn-light btn-lg' %>
    </div>

    <div class="about-example container">
      <h2 style="margin-top: 100px;"><i class="far fa-user"></i>ホストの紹介</h2>
      <div class="example row">
        <div class="col-md-6 about1"></div>
        <div class="col-md-6">
          <h4>レイチェルさん（カフェオーナー）</h4>
          <p>実家の古民家をリノベーションしてカフェにしました。<br><br>
            都会でOLをしていましたが、貯金を使い、<br>
            山沿いの古民家を購入<br><br>
            群馬県の山沿いにあるので、美味しいコーヒーと空気が同時に味わえます。<br><br>
            コーヒー豆の焙煎から、コーヒーを入れる際の適切なお湯の温度まで<br>
            コーヒーのイロハを教えてくれます。 <br>
          </p>
        </div>
      </div>
      <div class="example row">
        <div class="col-md-6 about2"></div>
        <div class="col-md-6">
          <h4>ミシェルさん（主婦兼、登山ガイド）</h4>
          <p>学生時代は山岳部のキャプテン。<br>
            20代は、休みがあればは山に入るほどの山オタク <br><br>
            主婦なので、体力に自信のない女性にも合わせたペースで <br>
            登山をコーディネートしてくれます。<br><br>
            現在の目標は、3年後にエベレスト登頂だとか。
          </p>
          </p>
        </div>
      </div>
      <div class="example row">
        <div class="col-md-6 about3"></div>
        <div class="col-md-6">
          <h4>チョーさん(ギター職人)</h4>
          <p>純日本製のギターを作り続けているチョーさん <br><br>
            元はミュージシャンを目指していますが挫折。<br>
            PlanneRでギター作りに触れ、<br>
            ホストに弟子入りして、ギター職人になりました <br><br>
            現在は師匠と2人で体験を提供した￥ています。<br>
            元ミュージシャンなので、実演もしてくれます。
          </p>
        </div>
      </div>

    </div>


  </div>
</div>
</div>