<div class="row">
　　<video src="/assets/mountain.mp4" loop autoplay muted width="100%" style="position: absolute;"></video>
    <h1 style="margin: 100px 0; font-size: 50px; position: relative; top: 0; color: white;">
      <strong>オススメを教えよう、知ろう。<br>
        PlanneRでは新しいことが、たくさん体験できます。</strong>
    </h1>
</div>

<!-- <div class="container about-box">
　<div class="row about-contents">
    <div class="col-6 about1"></div>
    <div class="col-6">
      <h2>チョーさん（カフェオーナー兼　ギター職人）</h2>
      例えば、都市部から離れたの工房。 <br>
      オーダーメイドのギターとサービスをお手軽に届けれます
      その道数十年の技術も立派な資産です。 <br>
      <%= link_to "彼のプランを見る"%>
  </div>
</div>
<div class="row about-contents">
    <div class="col-6">
        <h2>ミシェルさん（主婦兼、登山ガイド）</h2>
        <p>山登りもそうです。 <br>
        登山コーディネータの資格を保持しており、
        1ヶ月に３度は山に入るほどの山オタク <br>
        これほど心強いガイドはいませんよね。 </p>
        <%= link_to "彼女のプランを見る"%>
    </div>
    <div class="col-6 about2">
    </div>
</div>

<div class="row about-contents">
    <div class="col-6 about3">
    </div>
    <div class="col-6">
        <h2>レイチェルさん(PlanneR 代表)</h2>
        Palnnerはこれからの時代のライフスタイを提案していきます。<br>
        個人だけではなく、地域活性化のお手伝いもできます。<br>例えば地元の酒蔵</p>
    </div>
</div>
</div> 

