<div class="row">
  <video  loop autoplay muted style="position: absolute; width: 100%;" src="https://vod-progressive.akamaized.net/exp=1590770767~acl=%2A%2F1784725768.mp4%2A~hmac=f285e9cdfe0bd8d11b6a623650b77f746fca88d13eb8477fbb7e9a2b3d41168c/vimeo-prod-skyfire-std-us/01/2950/16/414754527/1784725768.mp4"></video>
    <h1 class="about-text">
      <strong>オススメを教えよう、知ろう。<br>
        PlanneRでは新しいことが、たくさん体験できます。</strong>
    </h1>
</div>


<div class="row about-box1">
  <div class="col-lg-6 about1"></div>
  <div class="col-lg-6">
    <h2>チョーさん（カフェオーナー兼　ギター職人）</h2>
    例えば、都市部から離れたの工房。 <br>
    オーダーメイドのギターとサービスをお手軽に届けれます
    その道数十年の技術も立派な資産です。 <br>
    <%= link_to "彼のプランを見る"%>
  </div>
</div>

<div class="row about-box2">
  <div class="col-lg-6 about2"></div>
  <div class="col-lg-6">
    <h2>ミシェルさん（主婦兼、登山ガイド）</h2>
    <p>山登りもそうです。 <br>
    登山コーディネータの資格を保持しており、
    1ヶ月に３度は山に入るほどの山オタク <br>
    これほど心強いガイドはいませんよね。 </p>
    <%= link_to "彼女のプランを見る"%>
  </div>
</div>

<div class="row about-box3">
  <div class="col-lg-6 about3"></div>
  <div class="col-lg-6">
    <h2>レイチェルさん(PlanneR 代表)</h2>
    Palnnerはこれからの時代のライフスタイを提案していきます。<br>
    個人だけではなく、地域活性化のお手伝いもできます。<br>例えば地元の酒蔵</p>
  </div>
</div>

