<div class="row">

  <div class="about"></div>
    <h1 class="about-text">
      <strong>オススメを教えよう、知ろう。<br>
        PlanneRでは新しいことが、たくさん体験できます。</strong>
    </h1>
  </div>


  <div class="row about-box1">
    <div class="col-lg-6 about1"></div>
    <div class="col-lg-6">
      <h2 class="about-title">レイチェルさん（カフェオーナー）</h2>
      実家の古民家をリノベーションしてカフェにしました。<br>
      群馬県の山沿いにあるので、美味しいコーヒーと空気が同時に味わえます。 <br>
      コーヒー豆の焙煎から、適切なお湯の温度までコーヒーのイロハを教えてくれます。 <br>
    </div>
  </div>

  <div class="row about-box2">
    <div class="col-lg-6 about2"></div>
    <div class="col-lg-6">
      <h2 class="about-title">ミシェルさん（主婦兼、登山ガイド）</h2>
      <p>登山ガイドの資格を保持しており <br>
      プライベートでも1ヶ月に３度は山に入るほどの山オタク <br>
      主婦なので、体力に自信のない女性にも合わせたペースで <br>
      登山をコーディネートしてくれます。</p>
    </div>
  </div>

    <div class="row about-box3">
      <div class="col-lg-6 about3"></div>
      <div class="col-lg-6">
        <h2 class="about-title">チョーさん(ギター職人)</h2>
        <p>
          純日本製のギターを作り続けているチョーさん <br>
          彼はPlanneRで、ギター作りの体験に触れ,<br>
          弟子入りして、職人になりました <br>
          元ミュージシャンなので、実演もしてくれます。
        </p>
    </div>

    <div style="margin: 200px auto;">
      <%= link_to "はじめる", new_user_registration_path, class:"btn btn-primary btn-lg" %>
    </div>

</div>

