<div class="container">
  <div class="validates">
    <%= flash[:item_save] %><%= flash[:order_status_update] %><%= flash[:bank_check] %>
  </div>

  <%= render "show", user:@user, sales:@sales, items:@items, order:@order, bank:@bank %>
</div>