<div class="w-100">
</div><br>


<% users.each do |user| %>
<div class="w-100 item-container">
	<div class="row">
		<div class="col-4">
			image
			<div>
				<%= user.family_name %>
				<%= user.last_name %>
			</div>
		</div>
		<div class="col-6">
		<div>
		</div>
        </div>
        <div class="col-2">
        	  <%= link_to "詳細画面へ", user_path(user)%>
        </div>
    </div>
</div>
<% end %>