<div>
	<%= flash[:supply_comfim] %>
</div>

<%#= render "users/show", user: @user, price_sum: @price_sum, items: @items, order: @order, order_statuses: @order_statuses %>
<%= render "users/show", user: @user, price_sum: @price_sum, items: @items, order: @order, orders: @orders %>
