  <h2 class="title">- 検索結果(<%= @records.count %>件) -</h2>
	<% if @model == "item" %>
	  <% if @records.empty? %>
	    <h2 class="title">- 検索結果は０件です -</h2>
	  <% else %>
	    <%= render "items/index" ,items:@records ,user:current_user %>
	  <% end %>
	<% else %>
	   <% if @records.empty? %>
	     <h2 class="title">- 検索結果は０件です -</h2>
	   <% else %>
	     <%= render "users/index" ,users:@records %>
	   <% end %>
	<% end %>
