<h2 class="title">検索結果</h2><br>
	<% if @model == "item" %>
	  <% if @records.empty? %>
	    <h2 class="title">0件です</h2>
	  <% else %>
	    <%= render "items/index", items:@records, user:current_user %>
	  <% end %>
	<% elsif @model == "user" %>
	   <% if @records.empty? %>
	     <h2 class="title">0件です</h2>
	   <% else %>
	     <%= render "users/index", users:@records %>
	   <% end %>
	<% else %>
	   <% if @records.empty? %>
	     <h2 class="title">0件です</h2>
	   <% else %>
	     <%= render "orders/index", orders:@records %>
	   <% end %>
	<% end %>
