<div class="col-3">
	<h2>about</h2>
</div>

<div class="w-100">
</div>
<div class="slide-container">
        <div class="theTarget">
            <div style="background-image: url(assets/about.jpg)"></div>
            <div style="background-image: url(assets/about2.jpg)"></div>
            <div style="background-image: url(assets/about3.jpg)"></div>
        </div>
    </div>
<div>
<p>オススメを教えよう知ろう <br>

ここでは自分の知識でマネタイズきます。<br>

例えば25年大阪にしかいないではなんく
25年分の大坂の知識を共有しましょう。<br>

palnnerはこれからの時代のライフスタイを提案していきます。<br>

個人だけではなく、
地域活性化のお手伝いもできます。<br>

例えば地元の酒蔵</p>
</div>
