/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Ubuntu Mono', monospace;
 }

 header{
 	height: 70px;
 	background-color: black;
 }

 .header-logo{
 	float: left;
 	color: white;
 	font-size: 100px;
 }

 nav {
 	float: right;
 }

ul {
	list-style: none;
}

nav li{
	float: left;
	margin: 0 10px;
	line-height: 70px;
}

.container{
    position: relative;
}

.image-action:hover{
	opacity: 0.8;
}

.item-attention{
	font-size: 10px;
	background-color: red;
	color: white;
}

.title{
	font-size: 50px;
	text-align: center;
	margin: 100px auto;
}

.validates{
	text-align: center;
	font-size: 20px;
	color: green;
	margin-top: 20px;
}
