/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Ubuntu Mono', monospace;
 }

 .table-th{
  width: 30%;
 }

 .table-td{
  width: 70%;
 }

 header{
 	height: 80px;
 	background-color: black;
 }

ul {
	list-style: none;
}

.text-area {
        width: 600px;
        height: 300px;
    }

.container{
    position: relative;
}

.image-action:hover{
	opacity: 0.8;
}

.item-attention{
	font-size: 10px;
	background-color: red;
	color: white;
}

.title{
	font-size: 40px;
	text-align: center;
	margin: 100px auto;
}

.validates{
	text-align: center;
	font-size: 20px;
	color: green;
	margin-top: 20px;
}

.text-style{
  word-break: break-all;
}

.form{
  margin-bottom: 100px;
  width: 100%;
}

.maru{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 20px;
    margin: 0,0,6px,10px;
}

// ヘッダー　ハンバーガーメニュー
#hm-icon{
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
  color: white;
  line-height: 70px;
}

.menu-trigger , .menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
  background-color: #fff;
}

.menu-trigger span:nth-of-type(2) {
  top: 20px;
  background-color: #fff;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
  background-color: #fff;
}

.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: #fff;
}

.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  background-color: #fff;
}

#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
}

#sp-menu li{
  text-align: center;
  margin-bottom: 30px;
}

#sp-menu a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.login_form{
  width: 50%;
  margin: 100px auto;
  padding: 50px 0;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 8px gray;
}
footer{
  min-height: 50vh;
  width: 100%;
  background-color: lightgray;
}

footer p{
  float: right;
  margin: 30px;
}

/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width:1024px) {

    .responsibe-center{
    	text-align: center;
    }

}

/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {

 .cccc{
 	width: 100%;
 }
 .text-area {
        width: 500px;
        height: 500px;
    }

}

/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
	header{
 	height: 150px;
 	width: 100%;
 }
   .text-area {
        width: 350px;
        height: 500px;
    }

}