// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.item-image{
	width: 100%;
}


.item-image-box{
	height: 500px;
	width: 100%;
}

.item-slide{
	width: 100%;
}


.item-container{
	border: 0.5px solid lightgray;
	border-radius: 7px;
	padding: 7px;
	margin: 10px;
}



.item-form p{
	font-size: 20px;
	margin-bottom: 50px;
}

// input[type="text"] {
//         width: 500px;
//         height: 40px;
//     }

// input[type="text-area"]{
// 	width: 500px;
// 	height: 800px;
// }


.favorite-font{
	font-size: 30px;
	float: left;
}