// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.item-image{
	width: 100%;
}


.item-image-box{
	height: 500px;
	width: 100%;
}

.item-slide{
	width: 100%;
}


.item-container{
	border: 0.5px solid lightgray;
	border-radius: 7px;
	padding: 7px;
	margin: 10px;
}



.item-form p{
	font-size: 20px;
	margin-bottom: 50px;
}


.favorite-font{
	font-size: 20px;
	float: left;
}

/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width:1024px) {

	.item-image-box{
	height: 350px;
	width: 100%;
}

}

/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {

	.item-image-box{
		height: 250px;
		width: 100%;
	     }
}

/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
	.item-image-box{
		height: 150px;
		width: 100%;
	     }
}