// Place all the styles related to the Others controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
	font-weight:80px;
}

.about{
	display: none;
	position: absolute;
	height: 800px;
	width: 100%;
	background-image: image-url("test2.jpg");
	background-position: center;
	background-size: cover;
}

.about_img{
	background-image: image-url('about_image1.jpg');
	height: 500px;
	width: 100%;
	background-size: cover;
	background-position: center;
	margin: 500px 0 100px 40px;
}

.card-icon{
	text-align: center;
	margin: 20px;
}

.card-columns{
	margin: 100px auto;
}

.card{
	box-shadow: 0 0 8px gray;
	margin: 10px;
}

.about-text{
	margin: 100px 0;
	font-size: 50px;
	position: relative;
	top: 0;
	color: white;
}


.about1{
	position: static;
	background-image: image-url("about6.jpg");
	background-position: center;
	background-size: cover;
	height: 350px;
	width: 270px;
	
}

.about2{
	background-image: image-url("woman.jpg");
	background-position: center;
	background-size: cover;
	height: 350px;
	width: 270px;
	
}

.about3{
	background-image: image-url("about5.jpg");
	background-position: center;
	background-size: cover;
	height: 350px;
	width: 270px;
}

.example{
margin: 200px auto;
box-shadow: 0 0 8px gray;
border-radius: 10px;
}

.example h4{
margin: 20px;
}

/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width:1024px) {
	.video-box{
	width: 100%;
	position: absolute;
}

.about-text{
	margin: 50px 0;
	font-size: 30px;
	position: relative;
	top: 0;
	color: white;
	padding-bottom: 200px;
}
}

/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
	.video-box{
	width: 100%;
	position: absolute;
}

.about-text{
	margin: 50px 0;
	font-size: 20px;
	position: relative;
	color: white;
}



}

/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
	.about{
	position: absolute;
	height: 500px;
	width: 100%;
	background-image: image-url("test2.jpg");
	background-position: center;
	background-size: cover;
}

.about-text{
	font-size: 15px;
	position: relative;
	top: 0;
	color: white;
}


}
