<h2 class="title">- <%= @user.family_name %>さんがレビューしたプラン -</h2>

<% if @reviews.empty? %>
  <h2 class="title">レビューはまだ書いていません</h2>
<% else %>
  <%= render "index" , reviews:@reviews , item:@item %>
<% end %>